* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #686D76;
}

header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #373A40;
    color:aliceblue;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin: 15px;
}

a {
    color:aqua
}

h2{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: aqua;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.Self-Portrait {
    background-size: cover;
    width: 250px;
    border-radius: 50%;
    margin: 35px;
}

.About-Me p {
    margin: 25px 0px 25px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    background-color:#556480; 
    padding: 10px;
    text-align: center;
}

.Works h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    background-color: aqua;
}
.Code-Refactor {
    margin-left: 25px;
}

.containerLeft {
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.Code-Refactor h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.Horiseon {
    width: 100%;

}

.Placeholder-1 h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.comingSoon {
    margin: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.placeTop {
    width: 57%;
}

.Placeholder-2 h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.contact {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #373A40;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin: 10px 10px;
}